body{
    background: #D1D3D4;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
header{
    display: flex;
    background: #028090;
    flex-basis: 100%;
    min-height: 20vh;
    max-height: fit-content;
    justify-self: flex-start;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
}
main{
    background: #05668D;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    min-height: 80vh;
    max-height: fit-content;
}
p{
    margin: .5rem;
    padding: .25rem;
    margin-left: 0;
    padding-left: 0;
}
.button{
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    width: fit-content;
    height: fit-content;
    margin: 1rem;
    border-radius: 16px;
    background-color:#00A896;
    cursor: pointer;
    text-align: center;
    border-top: solid #02C39A 1px;
    border-left: solid #02C39A 2px;
    border-bottom: none;
    border-right: solid #02C39A 2px;
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px;
}

.gifDiv{
    height:fit-content;
    width: fit-content;
    padding-left: .25rem;
    padding-right: .25rem;
}
#left{
    color: #00A896;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    flex-basis: 75%;
    min-height: 80vh;
    height: fit-content;
}
#right{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 25%;
    justify-content: flex-start;
    align-content: flex-end;
    max-height: fit-content;
}
/* form styling */
#search-form{
    font-family: "oxygen", sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-self: flex-start;
    width: 80%;
    padding-top: .5rem;
}
.form-item{
    margin: .5rem;
    font-size: 20px;
}
/* label{
    color: #02C39A;
} */
#gif-search{
    border: solid #02C39A 1px;
    background: #028090;
    color: white;

}
@media screen and (max-width: 1030px) {
    main{
        flex-flow: column-reverse nowrap; 
    }
    #search-form{
        width: 100%;
        justify-content: space-around;
        justify-self: flex-start;
        flex-flow: row;
        align-items: baseline;
        border-top: solid #02C39A 1px;
        border-bottom: solid #02C39A 1px;
    }
    #gif-search{
        flex-grow: 1;
        max-width: 50vw;
    }
    .button{
        font-size: 24px;
        margin: 8px;
    }
    .form-item{
        font-size: 20px;
        margin: 2vh 1vw;
    }
    .col{
        width: 100%;
    }
}